* {
    box-sizing: border-box ;
    margin: 0 ;
    padding : none ;
}

/*Navigation Section*/
.nav {
    height: 42px ;
    border-bottom: 2px solid gray ;
    display:  flex ;
    justify-content: space-between;
    align-items: center ;
    position: fixed ;
    top: 0;
    width: 100% ;
    z-index:2;
    background: linear-gradient( 115deg, yellowgreen , green );
}

.nav div{
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
}

.nav div > * {
    margin: 0 7px ;
}

.nav div input {
    color: white ;
    font-family: ;
    font-size ;
    width:150px ;
    height:35px ;
    line-height: 1.1em ;
    background-color:hsla(240, 70% , 45% , 0.7); 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}


/*Header Section*/
.header {
    width: 600px ;
    margin: 5px auto ;
}

.header h1 {
    line-height: 1.3 ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 30px ;
    font-style: italic;
    color: rgb(34, 34, 34);
}

#main {
    position: relative ;
    top : 50px ;
    z-index: 1;
}

.hero {
    width: 900px ;
    margin: 10px auto ;
}

.hero img {
    width: 100% ;
}

.hero small , .hero p {
    display:inline ;
    margin:0 2px ;
    color: gray ;
}

.content {
    display: flex ;
}

.left1 , .right1 {
    flex-basis: 30%
}
.main1 {
    flex-basis: 40% ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px ;
    line-height: 1.8 ;
    color: rgb(34, 34, 34); 
}

.article {
    width: 40%;
    margin: 10px auto ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px ;
    line-height: 1.8 ;
    color: rgb(34, 34, 34);

}

.footer {
    margin-top: 35px ;
    padding-top: 40px ;
    border-top: 2px solid gray ;
    display:grid ;
    grid-gap: 20px ;
    grid-template-columns: repeat(5 , 1fr);
    justify-content: end;
    line-height:1.4;
    font-size:16px ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color: rgba(168, 171, 175, 0.52);
}